.cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem 0;
/* font-size: 1.4rem; */

  
}

.cart_item_image img {
    max-width: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.cart_item_info {
    flex-grow: 1;
    margin-left: 1rem;
}

.cart_item_title {
    font-size: 1.5rem;
    color: #502c2c;
    margin: 0 0 0.5rem;
}

.cart_item_quantity {
    font-size: 1.1rem;
    color: #7f8c8d;
}

.cart_item_price {
    font-size: 1.2rem;
    color: #e74c3c;
    font-weight: bold;
    margin: 0.5rem 0;
}

.quantity_container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color:white;
    background-color: #1a1a1a;
    cursor: pointer;
  
  }


.quantity_button:hover {
    background-color: #2980b9;
}
